{% extends "base.html" %}

{% block title %}订单信息{% endblock %}

{% block content %}
	<div class="content">
		<a href="#" onClick="javascript :history.back(-1);" class="return">&raquo;&nbsp;返回上页</a>
		<a href="/../account/cart/">返回购物车</a>
		<h1 class="cart-title">订单详情</h1>
		<br>
		<h2>{{status}}</h2>
		<div class="input_order">
			<div class="buyer">
				<div class="label">买家：{{username}}</div>
			</div>
			<div class="product">
				<div class="label">购买物品：<a href="/product/{{product.id}}">{{product.name}}</a></div>
			</div>
			<div class="unit_price">
				<div class="label">单价：{{product.price}}</div>
			</div>
			<div class="buy_quantity">
				<div class="label">购买数量：{{product.buy_quantity}}</div>
			</div>
			<div class="total">
				<div class="label">总价：{{total}}</div>
			</div>
			<div class="address"><div class="label">地址：{{order.address}}</div></div>
			<div class="phone"><div class="label">联系电话：{{order.phone}}</div></div>
			<div class="remarks"><div class="label">备注：{{order.remarks}}</div></div>
		</div>
	</div>
{% endblock %}